/* h1{text-align: center; }
.art{margin: auto;} 
td{background-color: black;width: 120px; height: 200px;border: 6px; solid white;}
#one{background-color: #DAD2D8;}
#two{background-color: #325FA2;}
#three{background-color: #143642;}
#four{background-color: #EC9A29;}
#five{background-color: #A8201A;} */

#circle{border-radius: 20px;width: 15px;border-color: rgb(23, 23, 34);background-color: aqua;padding: 10px;}
.game{margin-left: 150px;}














