#video{position: absolute;right: 0;bottom: 0;min-width: 100%;min-height: 100%;z-index: -100000000;}




.survey{color: white;font-size: 20px;justify-content: center;text-align: center;margin-bottom: 30px;margin-top: 130px;font-size: 40px;font-weight: bold;}
    
@media screen and (max-width:1200px) {
    .item-o{width:40%}
    .item-f{width:40%}
}


@media screen and (max-width:600px) {
    .item-o{width:90%;padding: 20px;}
    .item-f{width:90%;padding: 20px;}
}






















