#video{position: absolute;right: 0;bottom: 0;min-width: 100%;min-height: 100%;z-index: -100000000;max-height:100%}



body{background-color: black;}
.C{color: white;font-size: 20px;justify-content: center;text-align: center;margin-bottom: 30px;margin-top: 130px;font-size: 30px;}

/*contents*/
.container{width: 100%;
height: auto;
justify-content: center;
display: flex;
flex-flow: wrap;
}

.item-o{width: 20%;
background: none;
color: white;
margin: 20px;
box-sizing: border-box;
font-size: 20px;
padding: 50px;
border: 2px solid white;
border-radius: 10px;}


.item-f{width: 20%;
    background: none;
    color: white;
    margin: 20px;
    padding: 50px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid white;
border-radius: 10px;}
    
/*links*/
.food{text-decoration: none;color: white;}


@media screen and (max-width:600px) {
    .item-o{width:90%;padding: 20px;}
    .item-f{width:90%;padding: 20px;}
}


@media screen and (max-width:1200px) {
    .item-o{width:40%}
    .item-f{width:40%}
}


.item-o:hover{border-color: rgba(0, 217, 255, 0.973);}
.item-f:hover{border-color: rgba(0, 217, 255, 0.973);}






















