/* .gru{color: rgb(0, 247, 255);padding: 2px 3px 4px 5px;border-radius: 3px;border: 2px solid blue;text-decoration: none;margin: 0px;width: 105px;}





}
#tree{color: red;}
 .AMSA{color: greenyellow;float: left;display: block;padding: 2px 4px;width: 180px;height: 20px;background-color: red;text-decoration: none;} 
.AMSA:hover{color: blue;}

.firstname{padding: 4px 6px;margin: 10px;}
.Lastname{padding: 4px 5px;margin: 10px;}
.jamaat{padding: 4px 6px;margin: 10px;}
img{width: 300px;height: 150px;margin-bottom: 20px;}
video{object-fit: scale-down;object-position: 40px;}

/* .gru{color: red;padding: 2px 3px 4px 5px;border-radius: 3px;border: 2px solid blue;text-decoration: none;margin: 0px;}
.gruu{color: red;padding: 2px 3px 4px 5px;border-radius: 3px;border: 2px solid blue;text-decoration: none ;margin :0px} */
/* h2{border-bottom:2px solid red; }
.con{color: cyan;width: 700px;border: 5px solid white;margin-top: var(blue);text-align: center;}
body{background-color: chartreuse;}
.VAR{background-color: blue;width: 720px;padding: 40px;margin: 30px;}
.yes{background-color: yellow;font-size: large;border-radius: 8px;font-family: 'Times New Roman', Times, serif;}
.no{background-color: yellow;font-size: large;border-radius: 8px;font-family: 'Times New Roman', Times, serif;}

*{box-sizing: content-box;}
.flex-container>div{background-color: #f1f1f1;margin: 10px;padding: 10px;font-size: 30px;}
.flex-container{display: flex;background-color: dodgerblue;flex-wrap: wrap;flex-direction: row;} */ */

