/* /* .firstdiv{color: aqua;}
.seconddiv{color: blue;}
#lost {color: red;text-decoration: line-through;}
*{color: darkblue;}
h3 + ol{border: 5px red dotted;}
li a{color: green;} */


/* .btnbtn-success{color: red; background-color: blue;} */
/* tr:nth-child(even) {background-color: #0000ff;}
td:nth-child(odd){background-color: darkgreen;} */
/* table{background-color: aqua;border-collapse: collapse;} */

/* *{background-image: url(dum.jpg);color: blue; background-repeat: repeat;}  */
/* p{border-left: 12px solid rgb(0, 255, 34);background-color: blue; padding:2px 3px 6px 8px ;text-align: left;text-shadow: 2px 3px red;unicode-bidi: bidi-override; text-size-adjust: 30px;position: ;} */
#great {border: 2px solid yellow;padding 10px;}
#great td {border: 3px red; }
#great tr :nth-child(even) {background-color: red;}
#great tr :nth-child(odd){background-color: blue;}

#great th{color:chartreuse} 
table {width: 100%;}
th{height: 50%;} 
/* th,td {border-bottom: 2px solid red;} */
/* p {position: sticky;bottom: 3px;padding: auto;} */
img {position: sticky; top: 0%;z-index: -6;float: left;width: 200px;height: 150px;}
h2 {text-align: left;}
.clearfix {overflow: auto;content:clear: both;}
/* *{box-sizing: border-box;} */
 a:hover{color: cyan;} */
 .container:hover {background-color: crimson;} 
 p{background-color: yellow;display: block;} 
 div:hover p {display: inline;} 
/* p:last-child{color: rgb(21, 255, 0);} */
/* input:focus {width: 600px;}
input:invalid {border: 2px solid blue;} */
/* p::after {content: "- are you okay";} */
/* ul{list-style-type: none;margin: 0;padding: 0%;overflow: hidden;background-color: #333;} */
 li{float: left;} 
 li a:hover:not(.active){background-color: #111;}   
li a{display:block;color: black;padding: 3px 6px;text-decoration:none;} 
.active{background-color: green;width:63px;height: 30px;}
.grand{background-color: blue;width:75px;height: 30px;}
.list{background-color: yellow;width:75px;height: 30px;}
.reed{background-color: aqua; width: 65px;height: 30px;} */


thank you
.bro{width: 300px;background-color: white;text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(25, 214, 25, 0.19);margin-bottom: 20px;}
.stairs{width: 300px;background-color: white;text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(25, 214, 25, 0.19);margin-bottom: 20px;} 


