/* h1{outline: outset;outline-style: solid;outline-width: medium;border: 2px solid red;outline-offset: 10px;width: 500px;text-align: center;direction: ltr;
vertical-align: baseline;





  }
  .boy{direction: rtl;unicode-bidi: bidi-override;text-shadow: 2px 2px 5px blue ;font-style: oblique;font-variant: small-caps;} 

ul{list-style-type:square;background: blue;padding: 20px;width: 600px;}

.coke{background: yellow;padding: 5px;margin: 20px;width: 500px;}
.fanta{background: yellow;padding: 5px;margin: 20px;width: 500px;}
.sprite{background: yellow;padding: 5px;margin: 20px;width: 500px;}

table,td,th{border: 2px solid blue;text-align: center;vertical-align: baseline;padding: 15px;}
table{border-collapse: collapse;width: 70%;}
th{height: 50px;}
td{height: 30px;}
tr:hover{background-color: crimson;}
tr:nth-child(odd) {background-color: lightseagreen;}
tr:nth-child(even) {background-color: crimson;}
th{background-color: darkgreen;}


img{float: right;padding: 15px;}
/* p{background-color: coral;width: 200px;height: 65px;border: 1px solid;overflow: scroll;} */
/* div{border: 2px solid green;padding-left: 10px;}
.clearfix{overflow: auto;} */ 
/* .bruh> div {background-color: aqua;margin: 10px;padding: 20px;font-size: 30px;}
.bruh{display: flex;background-color:red;flex-direction: row;flex-wrap: wrap-reverse;justify-content: space-around ;align-items: center;} */




.sign{border:2px solid yellow;font-size:20px;border-radius: 4px;
  margin-right: 30px;margin-left: 1780px;text-align: right;padding-right:4px;margin-bottom: 300px;margin-top: -500px;}

.promo{background-image: url(mountain.svg);height: 500px;background-repeat: no-repeat;background-size: cover;
font-size: 40px;text-align: center;color: white;padding-top: 550px;justify-content: center;
}


.s{text-decoration: none;}
.vid{font-size: 20px;}
.submit{text-decoration: none;;background-color: lightseagreen;margin-left: 850px;margin-right: 850px;margin-top: 100px;padding:10px;
font-size: 20px;border: 2px solid white;border-radius: 4px;}


.flexbox{display: flex;flex-direction:column;flex-wrap: nowrap;background-color: white;margin-top: 20px}
.flex{;margin: 10px;}
.flex1{min-height: 75px;min-width: 75px;justify-content: space-evenly;}

.o1{margin-left: 70px;width: 120px;margin-right: 40px;}
.o2{margin-left: 30px;width: 120px;margin-right: 40px;}
.o3{margin-left: 30px;width: 120px;margin-right: 40px;}
.o4{margin-left: 30px;width: 120px;margin-right: 40px;}




.flexst{display: flex;flex-direction:column;flex-wrap: nowrap;background-color: white;
margin-left: 20px;padding-right: 20px;margin-right: 20px;
}

   /* NAVBAR STYLING STARTS */
   /* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(28, 214, 214);
    color: rgb(189, 41, 41);
   }
   .nav-links a {
    color: rgb(223, 38, 31);
   }
   LOGO */
   /* .logo {
    font-size: 32px;padding-left: 800px;
   }
   NAVBAR MENU
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e57;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   DROPDOWN MENU
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; WITH RESPECT TO PARENT
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   } 
 */
