/* .body{background-color: rgb(28, 214, 214)}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 900px;
    padding-right: 900px;
    background-color: rgb(28, 214, 214);
    color: rgb(189, 41, 41);
    font-size: larger;
   }
   
.form{padding: auto;}

.fn{padding-left: 300px;margin-right:300; system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";color:rgb(20, 12, 12);font-size: medium;font-weight: bold;}

.a{font-size: 15px;
  font-weight: lighter;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 300px;
  margin-right: 360px;
  margin-top: 10px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 750px;
  padding-top: 5px;
  text-align: start;
  border-radius: 5px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";border: 2px lightslategray solid;

}
.ln{padding-left: 300px;font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";color:rgb(20, 12, 12);font-size: medium;font-weight: bold;}
.b{font-size: 15px;
  font-weight: lighter;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 300px;
  margin-right: 360px;
  margin-top: 10px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 750px;
  padding-top: 5px;
  text-align: start;
  border-radius: 5px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";border: 2px lightslategray solid;
}

.em{padding-left: 300px;font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";color: rgb(20, 12, 12);font-size: medium;font-weight: bold;}
.c{font-size: 15px;
  font-weight: lighter;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 300px;
  margin-right: 360px;
  margin-top: 10px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 750px;
  padding-top: 5px;
  text-align: start;
  border-radius: 5px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";border: 2px lightslategray solid
}

  .pw{padding-left: 300px;font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";color:rgb(20, 12, 12);font-size: medium;font-weight: bold;}
  .d{font-size: 15px;
    font-weight: lighter;
    line-height: 24px;
    margin-bottom: 16px;
    margin-left: 300px;
    margin-right: 360px;
    margin-top: 10px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 750px;
    padding-top: 5px;
    text-align: start;
    border-radius: 5px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";border: 2px lightslategray solid;
  }

.login{font-weight: 400;}

.submit{text-decoration: none;border: 2px solid green ;margin-left: 300px;margin-right: 1520px;text-align: center;padding:2px 3px 2px 3px;border-radius: 5px;background-color: rgb(206, 206, 223);font-size: large;}



 */

/* .board button{
  width: 100px;
height: 100px;
background-color: gray;
margin: 1px;
border-radius: 50%;
border: 4px solid black;
} */


.calculator button{

  width: 100px;
height: 100px;
margin: 1px;
border: 2px solid red;
background-color: yellow;
}

#gamer {
margin-top: 75px;
margin-left: 320px;

}

#bro{
  width: 412px;
  height: 100px;
  margin: 1px;
  border: 2px solid red;
  background-color: yellow;
}


#sis{
  width: 412px;
  height: 100px;
  margin:1px;
  border: 2px solid red;
  background-color: yellow;
}















